/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body{
  scroll-behavior: smooth;
}
.nav-bar{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: #eee;
	box-shadow: 0 5px 5px black;
	position: fixed;
	top:0;
	left:0;
	
}
.nav-logo h1{
	color: #FF9505;
}
.nav-link a{
	text-decoration:none;
	color: black;
	margin-left: 20px;
	padding: 10px;
	transition: color 1s ease-in;
	border-radius: 10px;
	
}
.nav-link a:hover{
	background-color: #FF9505;
}
.search{
	
}
.search-bar{
	padding: 10px;
	border:1px solid black;
	border-radius: 10px;
	margin-left: 10px;
	width: 70%;
}
#search-btn{
	text-decoration: none;
	font-size: 20px;
	background-color: #8F8FA8 ;
	color: #111;
	width: 20px;
	border-radius: 25px;
	padding: 10px;
	}
	#user, #cart{
		margin-left: 10px;
			text-decoration:none;
	font-size: 20px;
	background-color: #8F8FA8 ;
	color: #111;
	width: 20px;
	border-radius: 25px;
	padding: 10px;
	}
	#user:hover, #cart:hover,#search-btn:hover{
		color: orange;
	}
.home-section{
	display:flex;
	align-items: center;
	
}
.home-section h3{
	margin-top: 10%;
	color: #FF9505;
	text-align: center;
	font-size: 20px;
	
}
.img-bhat{
	width: 300px;
}
.section-p{
	font-size: 16px;
}
.dishes-container{
	display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-template-rows: 45% 45p% 45%;
grid-gap: 20px;
background-color: #eee;

padding: 30px;
}
.dishes-items{
	background-color: white;
	transition: all 0.8s ;
}
.dishes-items:hover{ 
box-shadow: 0 0 30px #111;
}
.heading{
	font-size: 24px;
	text-align: center;
}
.dishes-img{
	height: 200px;
}
.dishes-name{
	color: #FF9505;
	text-align: center;
}
span{
	display:block;
	font-size:16px;
	font-weight: bold;
	padding: 10px;
}
.dishes-btn{
	padding: 10px;
	width: 30%;
	background-color: green;
	color: white;
	border: none;
	border-radius: 8px;
	transition: all 0.5s;
	margin-bottom: 20px;
	}
	.dishes-btn:hover{
	background-color: #0D5D56;
	}

	#star{
		color: green;
		transition: all 0.5s ;
		cursor: pointer;
		
	}
	#star:hover{
		color: #0D5D56;
	}


