/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body{
  scroll-behavior: smooth;
}
.nav-bar{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: #eee;
	box-shadow: 0 5px 5px black;
	position: fixed;
	top:0;
	left:0;
	
}
.nav-logo h1{
	color: #FF9505;
}
.nav-link a{
	font-weight: bold;
	text-decoration:none;
	color: #111;
	margin-left: 20px;
	padding: 10px;
	transition: color 0.2s ease-in;
	border-radius: 10px;
	
}
.nav-link a:hover{
	background-color: #FF9505;
	color: white;
}
.search{
	
}
.search-bar{
	padding: 10px;
	border:1px solid black;
	border-radius: 10px;
	margin-left: 10px;
	width: 70%;
}
#search-btn{
	text-decoration: none;
	font-size: 20px;
	background-color: #8F8FA8 ;
	color: #111;
	width: 20px;
	border-radius: 25px;
	padding: 10px;
	}
	#user, #cart{
		margin-left: 10px;
			text-decoration:none;
	font-size: 20px;
	background-color: #8F8FA8 ;
	color: #111;
	width: 20px;
	border-radius: 25px;
	padding: 10px;
	}
	#user:hover, #cart:hover,#search-btn:hover{
		color: #FF9505;
	}
.home-section{
	display:flex;
	align-items: center;
	
}
.home-section .name{
	width: 100%;
	margin-top: 10%;
	color: #FF9505;
	text-align: center;
	font-size: 24px;
	
}
.img-bhat{
	width: 300px;
}
.section-p{
	font-size: 16px;
}
.dishes-container{
	display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-template-rows: 60% 60% 60%;
grid-gap: 20px;
background-color: #eee;

padding: 30px;
}
.dishes-items{
	background-color: white;
	transition: all 0.8s ;
}
.dishes-items:hover{ 
box-shadow: 0 0 30px #111;
}
.heading{
	margin-left: 45%;
	width: 8%;
	padding: 10px;
	border-bottom: 3px solid #FF9505;
	font-size: 24px;
	text-align: center;
	animation: enWidth 3s  ease-in-out 0s infinite;
}
@keyframes enWidth{
	0%{
		width: 0;
	}
	100%{
		width: 10%;
	}
		
}
.dishes-img{
	height: 200px;
}
.dishes-name{
	color: #FF9505;
	text-align: center;
}
span{
	display:block;
	font-size:16px;
	font-weight: bold;
	padding: 10px;
}


	#star{
		font-size: 24px;
		color: #27D613;
		transition: all 0.5s ;
		cursor: pointer;
		
	}
	#star:hover{
		color: #4070f4;
	}
	/* review section style*/
	

/* Button Styling */
.button{
    display: inline;
    padding: 10px;
    border-radius: 8px;
    background-color: #4070f4;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
	width: 30%;
	transition: all 0.5s;
	margin-bottom: 20px;
	
	
}
.button:active{
	background-color: #27D613;
}
.button .icon{
    font-size: 28px;
    color: #fff;
    margin-right: 10px;
    display: none;
}
.button.checked .icon{
  
}
.icon.spinner.spin{
    animation: spin 1.3s ease-in-out infinite;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}
.icon.check{
    display: inline-flex;
    height: 32px;
    width: 32px;
    font-size: 18px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #6e93f7;
}
.btn-text{
    font-size: 16px;
    font-weight: 400px;
    color: #fff;
	display: inline;
	
}
/*contact section*/
.section-title{
font-size: 24px;
color: #FF9505;
text-align: center;
padding:10px;
border-bottom: #FF9505;
width: 100%;
position: sticky;
top: 0;
left: 0;
}
.contact-section{
	background-color: #03072B;
	color: white;
	
}
.section-contact{
	display: flex;
	flex-wrap: wrap;
	
}
.contact-info{
	list-style-type: none;
}
.contact-icon{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
.online-info{
	width: 50%;
}
textarea{
display: block;
width: 50%;
}
#info-a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 400;
}
.message{
	padding:10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border:none;
	background-color: #4070f4;
	border-radius: 10px;
	
	width: 40%;
}
footer{
	position: sticky;
	top: 0;
	left: 0;
	background-color: #eee;
	margin-top: 20px;
}
.copy{
	margin-left: 40%;
}
footer a{
	text-align: center;
	text-decoration: 1px solid orange;
	color: #111;
	font-size: 20px;
}



